NODE_ENV=
PORT=
MONGO_URI=
CORS_ORIGIN=
FRONTEND_URL=
BACKEND_URL=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
EMAIL_PROVIDER=
EMAIL_FROM=
EMAIL_USER=
EMAIL_CLIENT_ID=
EMAIL_CLIENT_SECRET=
EMAIL_REFRESH_TOKEN=
EMAIL_ACCESS_TOKEN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
OTP_EXPIRY_MINUTES=
RESET_PASSWORD_EXPIRY_MINUTES=
RESET_PASSWORD_URL=
SUPPORT_EMAIL=
SUPPORT_PASSWORD=
